Config/core.php
Test/data/js_instrumented/jscoverage*
Test/data/js_instrumented/*.js
Test/data/js_instrumented/*.html
Test/data/js_instrumented/tests/*.js
Test/data/js_instrumented/tests/*.html
Test/data/js_instrumented/qunit/*
